* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-size: 1.8vw;
}
header {
  width: 100%;
  max-height: 500vh;
  background: url("../img2/623726339.jpg");
  background-size: 100%;
}
.head {
  display: flex;
  width: 100%;
  margin: 0;
}
.head1 {
  margin-top: 28px;
}
.button {
  border-radius: 12px;
  padding: 1.4%;
  margin-bottom: 5%;
  cursor: pointer;
}
.button:hover {
  background-color: #3e2723;
  color: #fff;
}
/* .button:active {
} */
.icon {
  width: 9vw;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
.search1 {
  background-color: #fff;
}
.btn {
  background: #fff url("../icon/searchicon.svg");
  width: 12%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-search {
  padding: 0.8%;
}
.fix {
  display: flex;
}
.white {
  background-color: #fff;
  padding: 90%;
  border-radius: 2.1vw;
  display: block;
}
#search-box {
  width: 82%;
  font-size: 1.8vw;
  padding: 0.3em;
  color: #000;
}
main {
  background: url("../img2/615f660487be26497d96d1bdea9c7ddf-1030x644.jpg");
  height: 600px;
  background-size: 100%;
}
.doors {
  display: flex;
  width: 100%;
}
.door {
  background: url("../img/l100.jpgدرب-لابی.jpg");
  width: 12.1%;
  height: 6.6em;
  background-size: 100%;
  border-radius: 6px;
  margin-top: 60px;
}
.door:hover {
  background: url("../img/DSC1478-min-683x1024.jpg");
  width: 12.1%;
  height: 6.6em;
  background-size: 100%;
  margin-top: 60px;
}

footer {
  height: 300px;
  background: url("../img2/623726339.jpg");
  background-size: 100%;
}
.footer {
  display: flex;
  height: 100%;
  width: 100%;
}
.about {
  width: 500px;
  margin: 30px;
}
.map {
  width: 500px;
  margin: 30px;
}
.icon-map {
  width: 30%;
  /* height: 30%; */
  background-size: 100%;
}
